gpflow==2.0.3
matplotlib==3.2.1
mpi4py==3.0.3
mujoco-py==2.0.2.10
numpy==1.18.4
scikit-learn==0.23.0
scipy==1.4.1
sklearn==0.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tensorflow-probability==0.10.0
