<?xml version="0.0" ?>
<robot name="slot2">
	<material name="blue">
        <color rgba="0.3 0.5 0.6 1"/>
    </material>
	<material name="grey">
        <color rgba="0.91 0.925 0.945 1"/>
    </material>

	<link name="plane">
		<origin rpy="0 0 0" xyz="0 0 0.005"/>
		<visual>
            <geometry>
                <box size="0 0 0.0"/>
            </geometry>
            <material name="grey"/>
        </visual>
        <collision>
             <geometry>
                <box size="0 0 0.0"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
	</link>

	<joint name="base_fl2" type="fixed">
		<origin xyz="0.0 0.35 0.05"/>
		<parent link="plane"/>
		<child link="fl2"/>
  	</joint>

	<link name="fl2">
		<visual>
            <geometry>
				<box size="0.1 0.2 0.1"/>
			</geometry>
            <material name="blue"/>
        </visual>
		<collision>
			<geometry>
				<box size="0.1 0.2 0.1"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="2.0"/>
			<inertia ixx="0.00833" ixy="0" ixz="0" iyy="0.00333" iyz="0" izz="0.00833"/>
		</inertial>
	</link>
</robot>
