<?xml version="0.0" ?>
<robot name="wall1">
	<material name="blue">
        <color rgba="0.3 0.5 0.6 1"/>
    </material>
	<material name="grey">
        <color rgba="0.91 0.925 0.945 1"/>
    </material>

	<link name="plane">
		<origin rpy="0 0 0" xyz="0 0 0.005"/>
		<visual>
            <geometry>
                <box size="0 0 0.0"/>
            </geometry>
            <material name="grey"/>
        </visual>
        <collision>
             <geometry>
                <box size="0 0 0.0"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial>
	</link>

	<joint name="base_wl1" type="fixed">
		<origin xyz="-0.025 0.75 0.25"/>
		<parent link="plane"/>
		<child link="wl1"/>
  	</joint>

	<link name="wl1">
		<visual>
            <geometry>
				<box size="0.05 1.5 0.5"/>
			</geometry>
            <material name="blue"/>
        </visual>
		<collision>
			<geometry>
				<box size="0.05 1.5 2"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="3.0"/>
			<inertia ixx="0.00833" ixy="0" ixz="0" iyy="0.00333" iyz="0" izz="0.00833"/>
		</inertial>
	</link>
</robot>
